@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Poppins:ital,wght@0,200;0,400;0,600;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loginform {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginform form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    border-radius: 25px;
    background-color: rgba(0, 255, 255, 0.4);
}

.loginform label {
    font-family: sans-serif;
}

.loginform input {
    padding: 10px 20px;
}

.loginform input[type=submit] {
    transition: .3s ease;
    outline: none;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

.loginform input[type=submit]:hover {
    background-color: black;
}

.navbar {
    background-color: #000;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.navbar h1 {
    color: #fff;
    font-size: 35px;
    padding-left: 25px;
    letter-spacing: 2px;
}

.nav-ul-wrap {
    padding: 0px 25px;
    color: #fff;
}

.nav-ul-li {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

.nav-ul-li a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}